/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 30px 0px 20px 0px;
  max-width: 200px;
}

.slogan {
  font-family: "Playball", cursive; /* Use the font family name */
  font-size: 150%;
  line-height: 1.5;
  margin: 20px 0px 0px 0px;
  color: rgb(255, 192, 109);
  text-align: center;
}

.UT-message {
  font-size: 180%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px 0px 80px 0px;
  text-align: center;
}

.container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.menu-item {
  /* Changes the content of each menu item. Delete some properties*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

img {
  display: block;
  height: auto;
  max-width: 85%;
  border-radius: 10%;
  margin-left: 5px;
}

.row {
  margin-bottom: 25px;
}

.item-name {
  font-size: 22px;
}

.description {
  font-size: 16px;
  margin-bottom: 0px;
}

.price-and-bt {
  display: flex;
  align-items: end;
  margin: 0px;
  justify-content: space-between;
}

.buttons {
  background-color: rgb(255, 111, 111);
  /* margin-left: 50px; */
  border-radius: 60%;
  width: 25px;
  height: 25px;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  margin-left: 6px;
}

.minus {
  margin-right: 6px;
}
.price {
  margin: 0px;
}

.col-8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0px;
}

.col-4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.counter-updater {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sticky-bar {
  position: fixed;
  bottom: -25px;
  width: 110%;
  background-color: rgb(216, 210, 173);
  margin-top: 20px;
  padding: 12px;
  font-size: 17px;
}

.subtotal {
  padding-left: 10px;
}
